.icon{
    color: blue;
}

.isAnimated{
    animation: spin 1s linear infinite;
}

.notAnimated{
    display:none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}