.main-footer{
    color: white;
    background-color: #6969A8;
    padding-top:.1em;
    width: 100%;
    margin-top: 150px;
}

.footer_link{
    color: white;
    text-decoration: none;
}

.col-sm{
   text-align: center;

}

.footer_img{
    width: 10%;
}

.col-sm-3{
    padding-top: .5rem;
}

.terms{
    text-decoration: none;
    color: white;
}

